---
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Left
AlignOperands: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
ColumnLimit: 120
PointerAlignment: 'Left'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortLambdasOnASingleLine: 'false'

...
