[Desktop Entry]
Type=Application
Categories=Utility;
Comment=desktop files suck D
Terminal=false
Name=x11-emoji-picker
Icon=x11-emoji-picker
Exec=emoji-picker
