[Unit]
Description=x11-emoji-picker daemon
After=graphical.target
Requires=graphical.target

[Service]
ExecStart=emoji-picker --daemon

[Install]
WantedBy=graphical.target
